## Practice Lab

This lab is designed for everyone who might need an extra practice with for loops, if/elif/else statements and functions. There is no deadline for this lab, no grade.

In [ ]:
# Don't change this cell; just run it. 

import numpy as np
from datascience import *

from client.api.notebook import Notebook
ok = Notebook('practice_lab.ok')

### For loop problems

In this section you should use for loops only.(I know some problems can be solved without a loop). Each solution requires 2-3 lines of code. It is ok if you use more. 

You can use built-in method *range* that works similar to *np.arange*

**Question 1.1** 
Print all natural numbers in reverse (from n to 1).

Example: reverse(4)  
Output: 4 3 2 1  (each number is on its own line)

In [ ]:
def reverse(n):
    #Your code is here

In [ ]:
_ = ok.grade('q1_1')

**Question 1.2** Print only even numbers from 1 to n

Example: even_only(10)
Output: 2 4 6 8 10 (each number is on its own line)

In [ ]:
def even_only(n):
    #Your code is here

In [ ]:
_ = ok.grade('q1_2')

**Question 1.3** If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below n.

Example: sum_mult_3_5(10)
Output: 23

In [ ]:
def sum_mult_3_5(n):
    #Your code is here

In [ ]:
_ = ok.grade('q1_3')

**Question 1.4 ** Print the series of numbers from 1 to n inclusive that is the result of a multiplication with the number 4.

Example: mult_4(10)
Output: 4 8 12 16...40

In [ ]:
def mult_4(n):
    # Your code is here

In [ ]:
_ = ok.grade('q1_4')

**Question 1.5** Print all odd numbers that are divisible by 3 from a given range (inclusive)

Example: odd_range(2, 15)
Output: 3 9 15

In [ ]:
def odd_range(lower, upper):
    #Your code is here

In [ ]:
_ = ok.grade('q1_5')

**Question 1.6 ** Print the first n powers of 2 

Example: pow_2(5)
Output: 1 2 4 8 16

In [ ]:
def pow_2(n):
    #your code is here

In [ ]:
_ = ok.grade('q1_6')

**Question 1.7** Print all divisors of number n

Example: divisors(12)
Output: 1 2 3 4 6 12

In [ ]:
def divisors(n):
    # Your code is here

In [ ]:
_ = ok.grade('q1_7')

**Question 1.8**  Replace each vowel (a, e, i, o, u) in a given string by a "*"

Example: replace("Marina")
Output: M\*r\*n*

Note: this function needs more than 3 lines

In [ ]:
def replace(string):
    # Your code is here

In [ ]:
_ = ok.grade('q1_8')

## Functions

In this section you will write a few functions that also might use loops
but will be a bit longer compared to Part 1.

**Question 2.1** n! means n × (n − 1) × ... × 3 × 2 × 1
For example, 10! = 10 × 9 × ... × 3 × 2 × 1 = 3628800, 
and the sum of the digits in the number 10! is 3 + 6 + 2 + 8 + 8 + 0 + 0 = 27. So 27 is the sum of the digits of 10!.

Write a function that takes in a positive integer *n* and returns the sum of the digits of n!.


Example: def factorial_digit_sum(10)
Output: 27

In [ ]:
def factorial_digit_sum(n):
    #Your code is here

In [ ]:
_ = ok.grade('q2_1')

**Question 2.2**  Create a function named *temp_converter* takes two arguments *temp* and *direction*. By default *direction* is set to True and the *temp* is converted from Fahrenheit degree to Celsius. If direction is set to False, then the *temp* is converted from Celsius to Fahrenheit degree.

Convertion Formulas (Round the output into integer.):  

$$C = (F-32)*\frac{5}{9}$$
$$F = (C * \frac{9}{5}) + 32$$

Example1: temp_converter(100)
Output: 27

Example2: temp_converter(100, direction = False)<br>
Output: 212

In [ ]:
def temp_converter(temp, direction =  True):
    if (direction):
        y = int((temp-32)*(5/9))
        return y
    else:
        y = int(temp*(9/5)+32)
        return y
    
temp_converter(100, direction = False)

In [ ]:
_ = ok.grade('q2_2')

**Question 2.3** Write a function named *num_pattern* that takes in an number n from 1 to 9, and returns a number which constructed with n digits of n. For example, 9 will return 999999999. Return error message if the number is out of range.

Example: num_pattern(9)
Output: 999999999

In [ ]:
def num_pattern(n):
    # Your code is here

In [ ]:
_ = ok.grade('q2_3')

**Question 2.4**  Given a list of integers, return *True* if the numbers 1, 2, 3 (might be some other numbers between them) appears in the array somewhere.

Example1: seq_123([1, 1, 2, 3, 1])
Output: True

Example2: seq_123([1, 1, 2, 4, 1])
Output: False

Example3: seq_123([1, 1, 2, 4, 3])
Output: True

In [ ]:
def seq_123(lst):
    #Your code is here

In [ ]:
_ = ok.grade('q2_4')

** Question 2.5 ** The squirrels in San Diego spend most of the day playing. In particular, they play if the temperature is between 60 and 90 (inclusive). Unless it is summer, then the upper limit is 100 instead of 90. Given an int temperature and a boolean *is_summer*, return True if the squirrels play and False otherwise.

Example1: play(70, False)
Output: False

Example2: play(95, False)
Output: False

Example3: play(95, True)
Output: True

In [ ]:
def play(temp, is_summer):
    #Your code is here

In [ ]:
_ = ok.grade('q2_5')

## Other questions

**Question 3.1** What are the types of a - e given that *tbl_list* is a list of tables with columns filled with Strings?

![](other.png)

Assign variables a-e to any of the possible choices given below:

1. list
2. int
3. string
4. table
5. array
6. function
7. error

In [ ]:
str_arr = make_array("I", "am", "a", "beautiful", "table")
tbl1 = Table().with_columns("First", str_arr, "Second", str_arr)
tbl2 = Table().with_columns("First", str_arr, "Second", str_arr)
tbl3 = Table().with_columns("First", str_arr, "Second", str_arr)
tbl4 = Table().with_columns("First", str_arr, "Second", str_arr)
tbl5 = Table().with_columns("First", str_arr, "Second", str_arr)
tbl_list = [tbl1, tbl2, tbl3, tbl4, tbl5]

In [ ]:
a = ...
b = ...
c = ...
d = ...
e = ...

In [ ]:
_ = ok.grade('q3_1')