# Homework 5: Histograms, Functions, Group, Iteration, and Conditionals

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. 

You should start early so that you have time to get help if you're stuck. A calendar with lab hour times and locations is on the class website.

In [ ]:
# Don't change this cell; just run it. 

import numpy as np
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

from client.api.notebook import Notebook
ok = Notebook('hw05.ok')
_ = ok.auth(inline=True)

**Important**: The `ok` tests don't usually tell you that your answer is correct. More often, they help catch careless mistakes. It's up to you to ensure that your answer is correct. If you're not sure, ask someone (not for the answer, but for some guidance about your approach).

Once you're finished, select "Save and Checkpoint" in the File menu and then execute the `submit` cell below. The result will contain a link that you can use to check that your assignment has been submitted successfully. If you submit more than once before the deadline, we will only grade your final submission.

In [ ]:
_ = ok.submit()

# Analysing UFO Sightings
Let's do some data analysis on ufo sightings.

### Question 1
Unfortunatly our data is split across many differnt tables. All the tables have the same form (meaning the same columns in the same order). Write a function that takes in a list of file names and combines the information from all the tables and returns a single table with all the information. Check out the append function on the data8.org/datascience/tables website.

In [ ]:
def combine_tables(tables):
    ...

table_files = make_array("ufo_part0.csv", "ufo_part1.csv", "ufo_part2.csv", "ufo_part3.csv", "ufo_part4.csv", "ufo_part5.csv", "ufo_part6.csv", "ufo_part7.csv", "ufo_part8.csv", "ufo_part9.csv")
ufo_data = combine_tables(table_files)
ufo_data

In [ ]:
_ = ok.grade('q1')

If you made a mistake on problem 1, we don't want it affecting your score on the rest of the questions so read in the data from ufo.csv. If you did question 1 correctly ufo_data shouldn't change.

In [ ]:
ufo_data = Table.read_table('ufo.csv')
ufo_data

### Question 2
We want to know how many ufo sightings occured in each country. Use the "group" method to make a new table. The new table should show for each country how many ufo sightings occured in that country.

In [ ]:
country_count = ...
country_count

In [ ]:
_ = ok.grade('q2')

## Quesion 3
Nan means the data is missing for that row, so nan isn't actually a country. Taking that into account how many reported countries are there in our dataset?

In [ ]:
number_of_countries = ...
number_of_countries

In [ ]:
_ = ok.grade('q3')

## Question 4
Use group again to make a table with counts for each state in the dataset. Which state has the most sightings? (If the answer was Washington then you would put state_with_most_sightings = "wa").

In [ ]:
state_count = ...
state_count

In [ ]:
state_with_most_sightings = ...
state_with_most_sightings

In [ ]:
_ = ok.grade('q4')

## Question 5 
Now we want to know what city has the most sightings, but we are worried that some states might cities with the same name. For example in US 34 states have a city name "sprinfield". To avoid clumping these cities together we want to group on both city and state (use the [groups function](http://data8.org/datascience/_autosummary/datascience.tables.Table.groups.html#datascience.tables.Table.groups) for this.) Which city has the most sightings?

In [ ]:
city_state_count = ...
city_state_count

In [ ]:
city_with_most_sightings = ...
city_with_most_sightings

In [ ]:
_ = ok.grade('q5')

## Question 6
The comments are interesting but as a data analyst we don't have time to read all the comments; hovever we still want to get some information out of them. We want to add column called "comment_length" where each commenent is classified as "short", "medium", or "long". A short comment has 44 characters or less. A medium comment has more than 44 characters but less than or equal to 128. And a long comment has more than 128. <br>
First lets make a function that takes a comment as input and returns either "short", "medium", or "long". Do not use the print function. You can find the length of a comment using the "len(..)" function.

In [ ]:
def comment_length_fn(comment):
    ...

test_comment = "I am a short comment"
print(comment_length_fn(test_comment))

In [ ]:
_ = ok.grade('q6')

### Question 7
Use this function along with the apply method to add a new column called "comment_length" to the ufo_data table. Store this new table in a variable "ufo_with_com_len". Then use group to make a table with the counts for each comment length.

In [ ]:
ufo_with_com_len = ...
ufo_with_com_len

In [ ]:
comment_length_counts = ...
comment_length_counts

In [ ]:
_ = ok.grade('q7')

### Question 8
Okay now we want the most recently published sighting, but there is a problem. Try sorting the **ufo_data** table by date posted in descending order. In which year did the sighting in row 0 occur? In which year did the sighting in row 525 occur?

In [ ]:
# Sort the ufo_data table in descending order by datetime
...

In [ ]:
#In which year did the sighting in row 0 and row 525 occur?
row0_year = ...
row525_year = ...

In [ ]:
_ = ok.grade('q8')

### Question 9
Why didn't sort bring the most recent sigtings to the top of the table?

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

Replace this text with your answer

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

### Question 10 
Normally we would use a library function to convert a string into a date object. But since we haven't learned about objects yet and we have learned about functions, let's write our own function! It's going to be a little strange so keep an open mind. <br><br>

First we have to come up with a good representation for our date. We probably want it to be numeric. If we represent a number as a string "10" comes before "7" which we don't want. We also want the year to be the most important. The month to be the next most important and the day to be the least important. So how are we going to combine our three numbers together to satisfy that order of precedence. Let's try (year * 10000) + (month * 100) + (day). So "9/8/2012" would become 20120908.<br><br>

We know how we want to represent our dates, but now we have to extract the year, month, and day from our input string. We are going to want to use the split function and the int(...) function.
<br><br>
Just how "join" can be used to concatinate multiple strings "split" can be used to split apart a string into a list of substrings. Run the following cell for an example.
<br><br>
You can use the int(...) function to cast from a string to an int. int("5") == 5
<br><br>
Okay now try implementing the convert function. Again if this seems weird that's because it is. There are much cleaner ways of doing this, but you'll just have to keep taking data science classes to find out.

In [ ]:
#split a string on every comma
my_list = "one,two,three".split(",")
my_list

Implement the function convert

In [ ]:
def convert(date_posted):
    ...

# simple test
test_input = "9/8/2012"
expected_output = 20120908
print(convert(test_input))
print(expected_output)
print("Passed simple test: " + str(convert(test_input) == expected_output))

In [ ]:
_ = ok.grade('q10')

### Question 11
Use this function to add a column called "sortable_date" to the ufo_data table store this new table in a variable called sortable_table. Then sort the table in descending order based on sortable_date. In which city did the most recently published UFO sighting occur?

In [ ]:
...
sortable_table = ...
sortable_table

In [ ]:
city_of_most_recent_sighting = ...
city_of_most_recent_sighting

In [ ]:
_ = ok.grade('q11')

### Question 12
The following question is still about aliens, but does **not** use the same data that we have been using for the previous questions. It is designed to test your knowledge about histograms.<br><br>

For each UFO spoting we collected the weather data for the night of the spoting. The following histogram shows the temperatures in degrees Fahrenheight for a collection of sightings. Each bin has a width of 5 degrees.  ![graph](graph.png)<br><br>



If there were 300 UFO sightings in the dataset, how many sightings occured on nights were it was less than 60 degrees?

In [ ]:
less_than_sixty_degrees = ...
less_than_sixty_degrees

In [ ]:
_ = ok.grade('q12')

### Question 13
If we combined the bins [55-60),[60-65), and [65-70) into a single bin, what would be the height of the new bin [55-70)?
<br><br>
If we combined the bins [85-90) and [90-95) into a single, what would be the height of the new bin [85-95)?

In [ ]:
bin_55_70 = ...
bin_85_95 = ...

In [ ]:
_ = ok.grade('q13')

In [ ]:
_ = ok.submit()